*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.navbar-brand{
    color: black;
    font-weight: 700;
}
.main{
    background:url(https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070_960_720.jpg)no-repeat;
    background-size:100% 100%;
    width:100%;
}
.main h1{
    font-size: 3rem;
    font-weight: 700;
}
.card{
    border: none;
}
.main select{
    height: 40px;
    width: 90%;
    outline: none;
    padding: 0 20px;
}
.main .btn1{
    background-color: coral;
    color: white;
    outline: none;
    border: none;
    width: 90%;
    height: 40px;
    margin-top: 7px;
}
.btn1:hover{
    background-color: tomato;
    transition: 0.5s;
}


.featured .box-container{
  
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.featured .box-container .box{
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    overflow:hidden;
    background:#fff;
    flex:1 1 20rem;
    height: 40rem;
    
}

.featured .box-container .box .image-container{
    overflow:hidden;
    position: relative;
    width: 100%;
    height: 20rem;
}

.featured .box-container .box .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.featured .box-container .box:hover .image-container img{
    transform: scale(1.1);
}

.featured .box-container .box .image-container .info{
    position: absolute;
    top:1rem; left:0;
    display: flex;
}

.featured .box-container .box .image-container .info h3{
    font-weight: 500;
    font-size: 1rem;
    color:#fff;
    background:rgba(0,0,0,.3);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    margin-left: 1rem;
}

.featured .box-container .box .image-container .icons{
    position: absolute;
    bottom:1rem; left:0;
    display: flex;
}

.featured .box-container .box .image-container .icons a{
    font-size: 1.4rem;
    color:#fff;
    display: flex;
    border-radius: .5rem;
    background: rgba(0,0,0,.3);
    margin-right: 1rem;
    padding:.7rem;
}

.featured .box-container .box .image-container .icons a h3{
    font-weight: 500;
    padding-left: .5rem;
}

.featured .box-container .box .image-container .icons a:hover{
    background:var(--red);
}

.featured .box-container .box .content{
    padding:1rem;
    
}

.featured .box-container .box .content .price{
    display: flex;
    align-items: center;
}

.featured .box-container .box .content .price h3{
    color:var(--red);
    font-size: 1.2rem;
    margin-right: auto;
}

.featured .box-container .box .content .price a{
    color:#666;
    font-size: 1.5rem;
    margin-right: .5rem;
    border-radius: .5rem;
    height:4rem;
    width:4rem;
    line-height: 4rem;
    text-align: center;
    background:#f7f7f7;
}

.featured .box-container .box .content .price a:hover{
    background:var(--red);
    color:#fff;
}

.featured .box-container .box .content .location{
    padding:1rem 0;
}

.featured .box-container .box .content .location h3{
    font-size: 1.2rem;
    color:#333;
}

.featured .box-container .box .content .location p{
    font-size: 1rem;
    color:#666;
    line-height: 1.5;
    padding-top: .5rem;
}

.featured .box-container .box .content .details{
    padding:.5rem 0;
    display: flex;
}

.featured .box-container .box .content .details h3{
    flex:1;
    padding:1rem;
    border:.1rem solid rgba(0,0,0,.1);
    color:#999;
    font-size: 1.3rem;
}

.featured .box-container .box .content .details h3 i{
    color:#333;
    padding-left: .5rem;
}

.featured .box-container .box .content .buttons{
    display: flex;
    gap:1rem;
}

.featured .box-container .box .content .buttons .btn{
    flex:1;
    font-size: 1.5rem;
}


.about-container{
    width:100%;
    padding: 78px 0px;
    background-color: #FFEDE2;

}

.image-container img{
    height:auto;
    width: 450px;

}

.about-container{
    width: 1270px;
    max-width: 95%;
    margin:  auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.text-container h1{
    color: black;
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 20px;

}
.text-container p{
    color: #7E7E7E;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
}

button{
    background-color: #BF8360;
    color: white;
    text-decoration: none;
    border: 2x solid transparent;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    
    

}